*~
*.gz
*.bz2
*.o
*.exe
foo
notes
nexus_lexer.c
nexus_lexer.h
nexus.tab.c
nexus.tab.h
run1.*
compress_chunks
compress_chunks_mpi
mygzip
read_nexus
hash_fnv64
zchunk_verify
zchunk_verify_mpi
read_speed
write_speed
tree*.nexus
steps-*.nex
