*.gz
*.bz2
*.nex
*.zst
*.so
*.dll
*.def
*.lib
*.exp
*.pyc
*.dylib
zstd
zstd-cygwin
zstd-ubuntu
foo*
bar*
*.zl
*.zlines
zlines
zlines_test
check_transpose
create_2d_data
disk_speed
transpose
transpose2
test_zlines.out
test_zlines
transpose_mmap
*.stackdump
